-i https://pypi.python.org/simple/
backcall==0.2.0
certifi==2020.12.5
chardet==3.0.4
click==6.7
decorator==4.4.2
faker==0.8.10
idna==2.6
ipdb==0.10.3
ipython-genutils==0.2.0
ipython==7.22.0
jedi==0.18.0
latlon==1.0.2
oauthlib==2.0.6
parso==0.8.1
pexpect==4.8.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pygments==2.7.4
pyproj==3.0.1
python-dateutil==2.8.1
requests-oauthlib==0.8.0
requests==2.18.4
six==1.15.0
text-unidecode==1.3
traitlets==5.0.5
urllib3==1.22
wcwidth==0.2.5
